{# footer Twig template #}
        </main>
        <footer id="footer">
            <a class="scroll-top" onclick="jQuery('html, body').animate({ scrollTop: 0 }, 'slow');" style="display: flex;">
                Back to top
            </a>
            <div class="copyright">{{ site_copyright }}</div>
        </footer>
    </body>
</html>