{# feature Twig template #}
<section class="banner-image">
    <div class="banner-text">
        <h1>This is a test theme using Twig</h1>
        <p>Make sure Timber is activated in your plugin's.</p>
        <button>Button</button>
    </div>
</section>