{# search-form Twig template #}

<div class="search-form">
    <form action="" class="s-search" method="get" role="search">
        <label class="sr" for="sf">Search</label>
        <input type="search" class="input_search" value="*:*" name="s" id="sf" placeholder="{{ placeholder }}">
        <button type="submit" class="submit search" id="searchsubmit-1">{{ search_button }}</button>
    </form>
</div>